<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 30px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {{ meta.main_bar_button }}" >
        <a class="nav-link" href="/">Weather </a>
      </li>
      <li class="nav-item {{ meta.history_bar_button }}" >
        <a class="nav-link" href="/history">History</a>
      </li>
    </ul>
  </div>
</nav>

